.navbar-brand{
    font-size: 50px;
    font-weight: bold;
  }
  .nav-link{
    font-size: 15px;
    color: white;
  }
  .badge{
    margin-left: 90px;
  }
  .nav-link:hover{
   background: rgb(166, 255, 0);
   border-radius: 5px;
   font-size: 18px;
   color: black;
  }
  .navbar{
    padding-left: 2%;
  }
  img{
    width: 70px;
    height: 70px;
  }
  
  